# Nootebooks 1
testing the usage of vade packages.

In [5]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

analyser = SentimentIntensityAnalyzer()

In [38]:
def sentiment_analyzer_scores(sentence):
    score = analyser.polarity_scores(sentence)
    print(score["compound"])
    print(score)
    print("{:-<40} {}".format(sentence, str(score)))

In [39]:
sentiment_analyzer_scores("The phone is super cool.")

0.7351
{'neg': 0.0, 'neu': 0.326, 'pos': 0.674, 'compound': 0.7351}
The phone is super cool.---------------- {'neg': 0.0, 'neu': 0.326, 'pos': 0.674, 'compound': 0.7351}

In [30]:
import numpy as np
import pandas as pd

In [31]:
tweet_data = pd.read_csv("./data/tweet.csv")

In [42]:
tweet_data.head(1)

,nbr_retweet,user_id,url,text,usernameTweet,datetime,is_reply,is_retweet,ID,nbr_reply,compound,neg,pos,neu
0,0,918153255800262656,/STORMTIGER5/status/1116338582078337024,I've entered a #Giveaway to #Win a £15 / $1...,STORMTIGER5,2019-04-11 23:53:53,False,False,1116338582078337024,0,0.5574,0.0,0.235,0.765

In [35]:
def compound(row):
    score = analyser.polarity_scores(row["text"])
    return score["compound"]

In [36]:
tweet_data["compound"] = tweet_data.apply(compound,axis=1)

In [40]:
def compound(row):
    score = analyser.polarity_scores(row["text"])
    return score["compound"]
def negative(row):
    score = analyser.polarity_scores(row["text"])
    return score["neg"]
def positive(row):
    score = analyser.polarity_scores(row["text"])
    return score["pos"]
def neutral(row):
    score = analyser.polarity_scores(row["text"])
    return score["neu"]

In [41]:
tweet_data["neg"] = tweet_data.apply(negative,axis=1)
tweet_data["pos"] = tweet_data.apply(positive,axis=1)
tweet_data["neu"] = tweet_data.apply(neutral,axis=1)

In [45]:
!ls -1t

results
Untitled.ipynb
data

In [44]:
!mkdir results

In [46]:
tweet_data.to_csv("./results/tweets_sentiment.csv")

In [48]:
!open .